
    <section class="section-1">
        <div class="container text-center">
            <div class="col-md-12">
                <!--PRICE HEADING START-->
                <div class="price-heading clearfix">
                    <h1 class="animate__animated animate__backInDown">Vous avez une agence de location ? vous êtes dans le bon coin</h1>
                </div>
                <!--//PRICE HEADING END-->
            </div>
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="pray">
                <img src="../../assets/image steps.png" alt="Pray" class="animate__animated animate__fadeInLeft" />
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="panel text-left">
                <h1>Pourquoi choisir notre service</h1>
                <p class="pt-4">
                    <i class="fas fa-hashtag" style="font-size: x-large; color: green;"></i> <span style="margin-left: 14px;">Elargir votre réseau de clientel d'une façon rapide grace &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; à notre plateforme</span> 
                </p>
                <p>
                    <i class="fas fa-hashtag" style="font-size: x-large; color: green;"></i> <span style="margin: 14px;">Recevoir des demandes de location illimitées</span>

                </p>
                <p>
                    <i class="fas fa-hashtag" style="font-size: x-large; color: green;"></i>  <span style="margin: 14px;">Suivre et gestionner toutes vos locations et voitures </span>

                </p>
                <p>
                    <i class="fas fa-hashtag" style="font-size: x-large; color: green;"></i>  <span style="margin: 14px;">Louer vos voiture en toute sécurité. Car toutes les &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;informations des clients sont enregistrées incluant les &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;documents cin ...</span>

                </p>
                <div class="col-md-12 mt-5" style="display: flex; justify-content: space-around; text-align: center;">
                  <div class="seats col-sm-3">
                    <div class="div" style="display: block;">
                      <p style="font-size: xx-large; font-weight: bold; color: black;">1</p>
                      <p style="font-size: smaller;">S'inscrire et s'authentifier</p>
                    </div>
                  </div>
                  <div class="seats col-sm-3">
                    <div class="div" style="display: block;">
                      <p style="font-size: xx-large; font-weight: bold; color: black;">1</p>
                      <p style="font-size: smaller;">S'inscrire et s'authentifier</p>
                    </div>
                  </div>
                  <div class="seats col-sm-3">
                    <div class="div" style="display: block;">
                      <p style="font-size: xx-large; font-weight: bold; color: black;">1</p>
                      <p style="font-size: smaller;">S'inscrire et s'authentifier</p>
                    </div>
                  </div>
                  <div class="seats col-sm-3">
                    <div class="div" style="display: block;">
                      <p style="font-size: xx-large; font-weight: bold; color: black;">1</p>
                      <p style="font-size: smaller;">S'inscrire et s'authentifier</p>
                    </div>
                  </div>
                  </div>
              </div>
              
            </div>
          </div>
        </div>
      </section>
