
    <section class="section-1">
        <div class="container text-center">
            <div class="col-md-12">
                <!--PRICE HEADING START-->
                <div class="price-heading clearfix">
                    <h1 class="animate__animated animate__backInDown">Vous avez une agence de location ? vous êtes dans le bon coin</h1>
                </div>
                <!--//PRICE HEADING END-->
            </div>
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="pray">
                <img src="../../assets/image steps.png" alt="Pray" class="animate__animated animate__fadeInLeft" />
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="panel text-left">
                <h1>Pourquoi choisir notre service</h1>
                <p class="pt-4">
                    <i class="fas fa-hashtag" style="font-size: x-large; color: green;"></i> <span style="margin-left: 14px;">Elargir votre réseau de clientel d'une façon rapide grace &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; à notre plateforme</span> 
                </p>
                <p>
                    <i class="fas fa-hashtag" style="font-size: x-large; color: green;"></i> <span style="margin: 14px;">Recevoir des demandes de location illimitées</span>

                </p>
                <p>
                    <i class="fas fa-hashtag" style="font-size: x-large; color: green;"></i>  <span style="margin: 14px;">Suivre et gestionner toutes vos locations et voitures </span>

                </p>
                <p>
                    <i class="fas fa-hashtag" style="font-size: x-large; color: green;"></i>  <span style="margin: 14px;">Louer vos voiture en toute sécurité. Car toutes les &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;informations des clients sont enregistrées incluant les &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;documents cin ...</span>

                </p>
                <div class="container">
                  <div id="carouselExampleControls" class="carousel slide text-center" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="seats">
                          <div class="div" style="display: block;">
                            <img src="../../assets/number-one.png" alt="" >
                            <p style="font-size: smaller; color: black;">S'inscrire et s'authentifier</p>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="seats ">
                          <div class="div" style="display: block;">
                            <img src="../../assets/number-2.png" alt="">
      
                            <p style="font-size: smaller; color: black;">Voir les tarifications</p>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="seats">
                          <div class="div" style="display: block;">
                            <img src="../../assets/number-3.png" alt="">
                            <p style="font-size: smaller; color: black; ">Choisir le pack</p>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="seats">
                          <div class="div" style="display: block;">
                            <img src="../../assets/number-four.png" alt="">
                            <p style="font-size: smaller; color: black;">Uploadez votre agrement</p>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="seats">
                          <div class="div" style="display: block;">
                            <img src="../../assets/number-5.png" alt="">
                            <p style="font-size: smaller; color: black;">Ajoutez vos voitures et profitez </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>

                <div class="col-md-12 mt-5" style="display: flex; justify-content: space-around; text-align: center;">
                  
                  
                  
                  
                  
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </section>
