<!-- Header-->
<header>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-5 col-sm-12 text-left">
                <h1 class="animate__animated animate__fadeInLeft">We offer you the best car rental service in just one click</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa autem eum voluptatibus 
                    aspernatur molestiae dicta laudantium alias, doloribus optio voluptas.
                </p>
                <div class="btns">
                
                  <button  class="btn btn-primary">Get started</button>
                  <button  class="btn btn-dark ml-5 bout1"><i class="fas fa-search pr-2"></i> How it works</button>
                </div>
               
            </div>
  
            <div class="col-md-7 col-sm-12">
                <img src="../assets/home.png" class="animate__animated animate__fadeInDownBig animate__slow" >
            </div>
        </div>
        
        
          <div class="form-container container text-center">
            <form action="">
              <div class="input-box">
                <span>Location</span>
                <input type="search" name="" id="" placeholder="Search Places">
              </div>
              <div class="input-box">
                <span>Pick-Up Date</span>
                <input type="date" name="" id="" >
              </div>
              <div class="input-box">
                <span>Return Date</span>
                <input type="date" name="" id="" >
              </div>
             <input type="submit" class="btn" name="" id="" value="Search car">
            </form>
          </div>
        
    </div>
  </header>
  <section class="whyChoose container-fluid text-center">
    <h1 id="wcHeader">Why choose xxxxx</h1>
    <div class="row animate__animated animate__zoomIn animate__slow">
      <div class="col-md-4 col-sm-12 text-center">
        <img src="https://img.icons8.com/ios/50/000000/rocket--v1.png"/>
        <h3>Fast & Easy Booking</h3>
        <p>Book your online or offline, Follow the easy process to book your car online. Or just call us any time from anywhere</p>
      </div>
      <div class="col-md-4 col-sm-12 text-center">
        <img src="https://img.icons8.com/nolan/64/point-objects.png"/>
        <h3>Many Pickup Location</h3>
        <p>We have an extensive number of cars that will be available to pick you up from any location throughout the country</p>
      </div>
      <div class="col-md-4 col-sm-12 text-center">
        <img src="https://img.icons8.com/external-flat-geotatah/64/000000/external-customer-customer-satisfaction-flat-flat-geotatah.png"/>
        <h3>Satistied Customers</h3>
        <p>We have 70.000+ happy customers and it's increasing? View our review section to get their feedback about our service.</p>
      </div>
    </div>
  </section>
  <section class="bookcars container-fluid text-center">
    <div class="container-xl">
      <div class="row">
        <div class="col-md-12">
          <div class="titleandSearch">
            <h1 id="bysc">Book Your Suitable Car</h1>
            <div class="selects">
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Price</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
  
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Brand</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
  
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Type</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
  
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Rating</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
          <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>   
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
            <div class="item carousel-item active">
              <div class="row">
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <h4>Volkswagen Vento</h4>
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="../assets/golf8.jpg" class="img-fluid" alt="Watch">
                    </div>
                    <div class="thumb-content">
                      
                      <p class="item-price"> <b>$369.00 / Day</b></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      
                      <div class="row">
                        <div class="seats col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-user"></i>
                            <p style="font-size: smaller;">4 Seats</p>
                          </div>
                        </div>
                        <div class="categorie col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fab fa-audible"></i>
                            <p style="font-size: smaller;">Eco</p>
                          </div>
                          
                        </div>
                        <div class="bv col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-cogs"></i>
                            <p style="font-size: smaller;">Auto</p>
                          </div>
                          
                        </div>
                        <div class="petrol col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-gas-pump"></i>
                            <p style="font-size: smaller;">Diesel</p>
                          </div>
                          
                        </div>
                      </div>
                     
                      <a href="#" class="btn btn-primary">Rent a Car</a>
                    </div>						
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <h4>Volkswagen Vento</h4>
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="../assets/golf8.jpg" class="img-fluid" alt="Watch">
                    </div>
                    <div class="thumb-content">
                      
                      <p class="item-price"> <b>$369.00 / Day</b></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      
                      <div class="row">
                        <div class="seats col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-user"></i>
                            <p style="font-size: smaller;">4 Seats</p>
                          </div>
                        </div>
                        <div class="categorie col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fab fa-audible"></i>
                            <p style="font-size: smaller;">Eco</p>
                          </div>
                          
                        </div>
                        <div class="bv col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-cogs"></i>
                            <p style="font-size: smaller;">Auto</p>
                          </div>
                          
                        </div>
                        <div class="petrol col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-gas-pump"></i>
                            <p style="font-size: smaller;">Diesel</p>
                          </div>
                          
                        </div>
                      </div>
                     
                      <a href="#" class="btn btn-primary">Rent a Car</a>
                    </div>						
                  </div>
                </div>		
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <h4>Volkswagen Vento</h4>
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="../assets/golf8.jpg" class="img-fluid" alt="Watch">
                    </div>
                    <div class="thumb-content">
                      
                      <p class="item-price"> <b>$369.00 / Day</b></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      
                      <div class="row">
                        <div class="seats col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-user"></i>
                            <p style="font-size: smaller;">4 Seats</p>
                          </div>
                        </div>
                        <div class="categorie col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fab fa-audible"></i>
                            <p style="font-size: smaller;">Eco</p>
                          </div>
                          
                        </div>
                        <div class="bv col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-cogs"></i>
                            <p style="font-size: smaller;">Auto</p>
                          </div>
                          
                        </div>
                        <div class="petrol col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-gas-pump"></i>
                            <p style="font-size: smaller;">Diesel</p>
                          </div>
                          
                        </div>
                      </div>
                     
                      <a href="#" class="btn btn-primary">Rent a Car</a>
                    </div>						
                  </div>
                </div>								
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <h4>Volkswagen Vento</h4>
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="../assets/golf8.jpg" class="img-fluid" alt="Watch">
                    </div>
                    <div class="thumb-content">
                      
                      <p class="item-price"> <b>$369.00 / Day</b></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      
                      <div class="row">
                        <div class="seats col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-user"></i>
                            <p style="font-size: smaller;">4 Seats</p>
                          </div>
                        </div>
                        <div class="categorie col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fab fa-audible"></i>
                            <p style="font-size: smaller;">Eco</p>
                          </div>
                          
                        </div>
                        <div class="bv col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-cogs"></i>
                            <p style="font-size: smaller;">Auto</p>
                          </div>
                          
                        </div>
                        <div class="petrol col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-gas-pump"></i>
                            <p style="font-size: smaller;">Diesel</p>
                          </div>
                          
                        </div>
                      </div>
                     
                      <a href="#" class="btn btn-primary">Rent a Car</a>
                    </div>						
                  </div>
                </div>
              </div>
            </div>
            <div class="item carousel-item">
              <div class="row">
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <h4>Volkswagen Vento</h4>
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="../assets/golf8.jpg" class="img-fluid" alt="Watch">
                    </div>
                    <div class="thumb-content">
                      
                      <p class="item-price"> <b>$369.00 / Day</b></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      
                      <div class="row">
                        <div class="seats col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-user"></i>
                            <p style="font-size: smaller;">4 Seats</p>
                          </div>
                        </div>
                        <div class="categorie col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fab fa-audible"></i>
                            <p style="font-size: smaller;">Eco</p>
                          </div>
                          
                        </div>
                        <div class="bv col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-cogs"></i>
                            <p style="font-size: smaller;">Auto</p>
                          </div>
                          
                        </div>
                        <div class="petrol col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-gas-pump"></i>
                            <p style="font-size: smaller;">Diesel</p>
                          </div>
                          
                        </div>
                      </div>
                     
                      <a href="#" class="btn btn-primary">Rent a Car</a>
                    </div>						
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <h4>Volkswagen Vento</h4>
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="../assets/golf8.jpg" class="img-fluid" alt="Watch">
                    </div>
                    <div class="thumb-content">
                      
                      <p class="item-price"> <b>$369.00 / Day</b></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      
                      <div class="row">
                        <div class="seats col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-user"></i>
                            <p style="font-size: smaller;">4 Seats</p>
                          </div>
                        </div>
                        <div class="categorie col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fab fa-audible"></i>
                            <p style="font-size: smaller;">Eco</p>
                          </div>
                          
                        </div>
                        <div class="bv col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-cogs"></i>
                            <p style="font-size: smaller;">Auto</p>
                          </div>
                          
                        </div>
                        <div class="petrol col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-gas-pump"></i>
                            <p style="font-size: smaller;">Diesel</p>
                          </div>
                          
                        </div>
                      </div>
                     
                      <a href="#" class="btn btn-primary">Rent a Car</a>
                    </div>						
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <h4>Volkswagen Vento</h4>
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="../assets/golf8.jpg" class="img-fluid" alt="Watch">
                    </div>
                    <div class="thumb-content">
                      
                      <p class="item-price"> <b>$369.00 / Day</b></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      
                      <div class="row">
                        <div class="seats col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-user"></i>
                            <p style="font-size: smaller;">4 Seats</p>
                          </div>
                        </div>
                        <div class="categorie col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fab fa-audible"></i>
                            <p style="font-size: smaller;">Eco</p>
                          </div>
                          
                        </div>
                        <div class="bv col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-cogs"></i>
                            <p style="font-size: smaller;">Auto</p>
                          </div>
                          
                        </div>
                        <div class="petrol col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-gas-pump"></i>
                            <p style="font-size: smaller;">Diesel</p>
                          </div>
                          
                        </div>
                      </div>
                     
                      <a href="#" class="btn btn-primary">Rent a Car</a>
                    </div>						
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <h4>Volkswagen Vento</h4>
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="../assets/golf8.jpg" class="img-fluid" alt="Watch">
                    </div>
                    <div class="thumb-content">
                      
                      <p class="item-price"> <b>$369.00 / Day</b></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      
                      <div class="row">
                        <div class="seats col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-user"></i>
                            <p style="font-size: smaller;">4 Seats</p>
                          </div>
                        </div>
                        <div class="categorie col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fab fa-audible"></i>
                            <p style="font-size: smaller;">Eco</p>
                          </div>
                          
                        </div>
                        <div class="bv col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-cogs"></i>
                            <p style="font-size: smaller;">Auto</p>
                          </div>
                          
                        </div>
                        <div class="petrol col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-gas-pump"></i>
                            <p style="font-size: smaller;">Diesel</p>
                          </div>
                          
                        </div>
                      </div>
                     
                      <a href="#" class="btn btn-primary">Rent a Car</a>
                    </div>						
                  </div>
                </div>						
              </div>
            </div>
            <div class="item carousel-item">
              <div class="row">
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <h4>Volkswagen Vento</h4>
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="../assets/golf8.jpg" class="img-fluid" alt="Watch">
                    </div>
                    <div class="thumb-content">
                      
                      <p class="item-price"> <b>$369.00 / Day</b></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      
                      <div class="row">
                        <div class="seats col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-user"></i>
                            <p style="font-size: smaller;">4 Seats</p>
                          </div>
                        </div>
                        <div class="categorie col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fab fa-audible"></i>
                            <p style="font-size: smaller;">Eco</p>
                          </div>
                          
                        </div>
                        <div class="bv col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-cogs"></i>
                            <p style="font-size: smaller;">Auto</p>
                          </div>
                          
                        </div>
                        <div class="petrol col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-gas-pump"></i>
                            <p style="font-size: smaller;">Diesel</p>
                          </div>
                          
                        </div>
                      </div>
                     
                      <a href="#" class="btn btn-primary">Rent a Car</a>
                    </div>						
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <h4>Volkswagen Vento</h4>
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="../assets/golf8.jpg" class="img-fluid" alt="Watch">
                    </div>
                    <div class="thumb-content">
                      
                      <p class="item-price"> <b>$369.00 / Day</b></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      
                      <div class="row">
                        <div class="seats col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-user"></i>
                            <p style="font-size: smaller;">4 Seats</p>
                          </div>
                        </div>
                        <div class="categorie col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fab fa-audible"></i>
                            <p style="font-size: smaller;">Eco</p>
                          </div>
                          
                        </div>
                        <div class="bv col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-cogs"></i>
                            <p style="font-size: smaller;">Auto</p>
                          </div>
                          
                        </div>
                        <div class="petrol col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-gas-pump"></i>
                            <p style="font-size: smaller;">Diesel</p>
                          </div>
                          
                        </div>
                      </div>
                     
                      <a href="#" class="btn btn-primary">Rent a Car</a>
                    </div>						
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <h4>Volkswagen Vento</h4>
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="../assets/golf8.jpg" class="img-fluid" alt="Watch">
                    </div>
                    <div class="thumb-content">
                      
                      <p class="item-price"> <b>$369.00 / Day</b></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      
                      <div class="row">
                        <div class="seats col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-user"></i>
                            <p style="font-size: smaller;">4 Seats</p>
                          </div>
                        </div>
                        <div class="categorie col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fab fa-audible"></i>
                            <p style="font-size: smaller;">Eco</p>
                          </div>
                          
                        </div>
                        <div class="bv col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-cogs"></i>
                            <p style="font-size: smaller;">Auto</p>
                          </div>
                          
                        </div>
                        <div class="petrol col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-gas-pump"></i>
                            <p style="font-size: smaller;">Diesel</p>
                          </div>
                          
                        </div>
                      </div>
                     
                      <a href="#" class="btn btn-primary">Rent a Car</a>
                    </div>						
                  </div>
                </div>	
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <h4>Volkswagen Vento</h4>
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="../assets/golf8.jpg" class="img-fluid" alt="Watch">
                    </div>
                    <div class="thumb-content">
                      
                      <p class="item-price"> <b>$369.00 / Day</b></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      
                      <div class="row">
                        <div class="seats col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-user"></i>
                            <p style="font-size: smaller;">4 Seats</p>
                          </div>
                        </div>
                        <div class="categorie col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fab fa-audible"></i>
                            <p style="font-size: smaller;">Eco</p>
                          </div>
                          
                        </div>
                        <div class="bv col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-cogs"></i>
                            <p style="font-size: smaller;">Auto</p>
                          </div>
                          
                        </div>
                        <div class="petrol col-sm-3">
                          <div class="div" style="display: block;">
                            <i class="fas fa-gas-pump"></i>
                            <p style="font-size: smaller;">Diesel</p>
                          </div>
                          
                        </div>
                      </div>
                     
                      <a href="#" class="btn btn-primary">Rent a Car</a>
                    </div>						
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Carousel controls -->
          <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-control-next" href="#myCarousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
        </div>
      </div>
    </div>
  </section>
  
  <div class="brands container-fluid">
    <div class="row">
      <div class="col">
         <img src="../assets/logo-coca-cola.png" >
      </div>
      <div class="col">
        <img src="assets/logo-godrej.png" >
      </div>
      <div class="col">
        <img src="assets/logo-oppo.png" >
      </div>
      <div class="col">
        <img src="assets/logo-paypal.png" >
      </div>
      <div class="col">
        <img src="assets/logo-philips.png" >
      </div>
   </div>
   </div>
  
   <div class="testimonial container-fluid">
    <h1>What Customers are saying</h1>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <i class="fas fa-quote-left"></i>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
           Nam velit dolorum in itaque expedita ullam nisi harum reprehenderit 
           commodi vel!</p>
           <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            
           </div>
           <img src="assets/user-1.png" alt="">
           <h3>Seon Parker</h3>
      </div>
  
      <div class="col-md-4 col-sm-12">
        <i class="fas fa-quote-left"></i>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
           Nam velit dolorum in itaque expedita ullam nisi harum reprehenderit 
           commodi vel!</p>
           <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            
           </div>
           <img src="assets/user-2.png" alt="">
           <h3>Seon Parker</h3>
      </div>
  
      <div class="col-md-4 col-sm-12">
        <i class="fas fa-quote-left"></i>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
           Nam velit dolorum in itaque expedita ullam nisi harum reprehenderit 
           commodi vel!</p>
           <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            
           </div>
           <img src="assets/user-3.png" alt="">
           <h3>Seon Parker</h3>
      </div>
    </div>
   </div>
   <footer>
    <div class="container-fluid p-0">
      <div class="row text-left">
        <div class="col-md-5 col-sm-5">
          <h4 class="text-light">About us</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum maxime ea similique illum corrupti</p>
          <p class="pt-4 text-muted">Copyright ©2022 All rights reserved | This template is made with by
            <span>  HADI Ayoub</span>
          </p>
        </div>
        <div class="col-md-5 col-sm-12">
          <h4 class="text-light">Newsletter</h4>
          <p class="text-muted">Stay Updated</p>
          <form class="form-inline">
            <div class="col pl-0">
              <div class="input-group pr-5">
                <input type="text" class="form-control bg-dark text-white" id="inlineFormInputGroupUsername2" placeholder="Email">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-arrow-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-2 col-sm-12">
          <h4 class="text-light">Follow Us</h4>
          <p class="text-muted">Let us be social</p>
          <div class="column text-light">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-youtube"></i>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
